###############################################################################
# begin requirements from: requirements.txt

requests
psycopg2

# end requirements from: requirements.txt
###############################################################################
